.desktop-2
{
position:absolute;
background-color:#4ad9c0;
height:1024px;
width:1440px;
padding:0px;
}
.ommig
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Gruppo;
line-height:auto;
left:92px;
top:70px;
position:absolute;
width:271px;
}
.polygon1
{
background-color:#99d3f3;
height:232px;
width:232px;
top:650px;
left:26px;
position:absolute;
}
.polygon3
{
background-color:#0c8afd;
height:232px;
width:232px;
top:650px;
left:247px;
position:absolute;
}
.polygon2
{
background-color:#0a05ff;
height:232px;
width:232px;
top:650px;
left:468px;
position:absolute;
}
.startsida
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:90px;
top:752px;
width:103px;
height:28px;
position:absolute;
}
.utbildning
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:304px;
top:752px;
width:117px;
height:28px;
position:absolute;
}
.intresse
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:538px;
top:752px;
width:91px;
height:28px;
position:absolute;
}
.rectangle1
{
background-color:#d9d9d9;
height:464px;
width:1330px;
top:166px;
left:55px;
position:absolute;
background-image: url(".../html_cv/WIN_20221125_10_05_14_Pro.Png")
}
.ålder
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Gruppo;
left:55px;
top:166px;
width:605px;
height:464px;
position:absolute;
}
.kontakt
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Gruppo;
left:720px;
top:169px;
width:665px;
height:461px;
position:absolute;
}


