.desktop-3
{
position:absolute;
background-color:#0a05ff;
height:1024px;
width:1440px;
padding:0px;
}
.rektangle2
{
background-color:#d9d9d9;
height:464px;
width:1330px;
left:50px;
top:183px;
position:absolute;
}
.polygon7
{
background-color:#99d3f3;
height:232px;
width:232px;
top:650px;
left:46px;
position:absolute;
}
.polygon8
{
background-color:#0c8afd;
height:232px;
width:232px;
top:650px;
left:488px;
position:absolute;
}
.startsida
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:110px;
top:752px;
width:103px;
height:28px;
position:absolute;
line-height:auto;
}
.polygon9
{
background-color:#4ad9c0;
height:232px;
width:232px;
top:650px;
left:270px;
position:absolute;
}
.ommig
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:341px;
top:752px;
width:89px;
height:28px;
position:absolute;
line-height:auto;
}
.utbildning
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:544px;
top:752px;
width:119px;
height:28px;
position:absolute;
line-height:auto;
}
.intressen
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Gruppo;
left:64px;
top:85px;
width:411px;
height:98px;
position:absolute;
line-height:auto;
}
.textrektangel{
    font-size: 45px;
}