.desktop-1
{
position:absolute;
background-color:#99d2f3;
height:1024px;
width:1440px;
padding:0px;
}
.rektangle3
{
background-color:#d9d9d9;
height:327px;
width:797px;
left:61px;
top:512px;
position:absolute;
}
.cv
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Inter;
left:92px;
top:70px;
width:271px;
height:98px;
position:absolute;
line-height:auto;
}
.polygon1
{
background-color:#4ad9c0;
height:232px;
width:232px;
top:580px;
left:106px;
position:absolute;
}
.polygon3
{
background-color:#0c8afd;
height:232px;
width:232px;
top:580px;
left:327px;
position:absolute;
}
.polygon2
{
background-color:#0a05ff;
height:232px;
width:232px;
top:580px;
left:548px;
position:absolute;
}
.ommig
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:177px;
top:682px;
width:89px;
height:28px;
position:absolute;
line-height:auto;
}
.utbildning
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:384px;
top:682px;
width:117px;
height:28px;
position:absolute;
line-height:auto;
}
.intresse
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:618px;
top:682px;
width:91px;
height:28px;
position:absolute;
line-height:auto;
}
.adamernelind
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:68px;
font-family:Inter;
left:460px;
top:70px;
width:470px;
height:126px;
position:absolute;
line-height:auto;
}
.win_20221125_10_05_14_pro1
{
height:544px;
width:397px;
left:930px;
top:222px;
position:absolute;
}
.ålder{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:88px;
top:223px;
width:220px;
height:199px;
position:absolute;
line-height:auto;
}